## DATA STRUCTURES

## Strings

In [1]:
print('sebastian.thrun'.title())

Sebastian.Thrun

In [3]:
print('sebastian.thrun'.islower())

True

In [4]:
mystring = 'sebastian.thrun'

In [5]:
mystring.capitalize()

'Sebastian.thrun'

In [7]:
mystring.count('t')

2

In [8]:
mystring.find('a')

3

## FORMAT IS A STRING METHOD TO INSERT VARIABLES INTO TEXT

In [10]:
print("Mohammed has {} balloons".format(27))

Mohammed has 27 balloons

In [11]:
maria_string = "Maria loves {} and {}"
print(maria_string.format("math","statistics"))

Maria loves math and statistics

# Another important string method: split()

In [12]:
sentence = 'I am working hard today'
sentence.split()

['I', 'am', 'working', 'hard', 'today']

In [13]:
sentence1 = 'I am working hard, and I\'ll finish Python intro today'
sentence1.split(',', 100)

['I am working hard', " and I'll finish Python intro today"]

## Lists: Mutable, ordered data structures

In [14]:
cekirdekaile = ['merve', 'serra', 'nergiz', 'sadi']
cekirdekaile[1]

'serra'

In [16]:
cekirdekaile[len(cekirdekaile) -1]

'sadi'

In [17]:
cekirdekaile[-1]

'sadi'

## Slicing lists

In [18]:
cekirdekaile[:2]

['merve', 'serra']

In [19]:
cekirdekaile[2:]

['nergiz', 'sadi']

In [20]:
cekirdekaile[2:3]

['nergiz']

In [23]:
cekirdekaile[1:3]

['serra', 'nergiz']

In [24]:
"This" in "This is a string"

True

In [25]:
1 in [1, 2,3,4,5]

True

In [26]:
1 not in [1, 2,3,4,5]

False

## List Methods

In [27]:
len(cekirdekaile)

4

In [28]:
max(cekirdekaile)

'serra'

In [32]:
numberedlist = [1,5,9,7]
max(numberedlist)

9

In [30]:
min(numberedlist)

1

In [36]:
sorted(numberedlist)

[1, 5, 7, 9]

## Join method

In [34]:
separatedlist = ['201001', '07302', '07030']
joinedstring = ';'.join(separatedlist)
print(joinedstring)

201001;07302;07030

In [35]:
manylines = '\n'.join(separatedlist)
print(manylines)

201001
07302
07030

## Append method

In [39]:
letters = [1, 2,5, 4]
letters.append(8)
letters

[1, 2, 5, 4, 8]

## Tuples: Immutabe, ordered data structures: I skip

## SETS: Containers of unique elements, unordered

In [41]:
a = [1, 1,1, 3,3,5,7,9]
b = set(a)
b

{1, 3, 5, 7, 9}

In [42]:
print(len(a) - len(b))

3

## Dictionaries: Store pairs of elements, key value pair

In [43]:
elements = {'hydrogen':1, 'helium':2, 'carbon':6}
print(elements)

{'hydrogen': 1, 'helium': 2, 'carbon': 6}

In [46]:
print(elements['hydrogen'])

1

Hydrogen can be also mapped to a list

## CONTROL FLOW

## COnditional statements

In [49]:
phone_balance = 3
bank_balance = 100
if phone_balance < 5:
    phone_balance += 10
    bank_balance -= 10

In [50]:
print(phone_balance)
print(bank_balance)

13
90

In [51]:
##For loops

In [56]:
cities = ['Istanbul', 'Bursa', 'Izmir', 'Ankara']

for city in cities:
    letters = len(city)
    print(city, " ", letters)

Istanbul   8
Bursa   5
Izmir   5
Ankara   6

In [59]:
cities = ['Istanbul', 'Bursa', 'Izmir', 'Ankara']

for city in cities:
    
    print(city.upper())

ISTANBUL
BURSA
IZMIR
ANKARA

range(start, stop, step): creates immutable sequences

In [61]:
print(list(range(2, 6)))

[2, 3, 4, 5]

In [62]:
print(list(range(2, 30, 2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [64]:
print(list(range(4)))

[0, 1, 2, 3]

In [65]:
print(range(4))

range(0, 4)

In [66]:
for i in range(4):
    print(i)

0
1
2
3

we use range funtion to repeat a certain action certain times

In [67]:
#print every number on he increments of 5, between 5 and 30, 30 inclusive

for i in range(5, 35, 5):
    print(i)

5
10
15
20
25
30